.header {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 62px;
    height: 60px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.brand-logo .logo {
    height: 40px;
    width: 46px;
}

.divRight {
    margin-right: 72px;
}

.divRight ul li {
    list-style-type: none;
    display: inline;
    width: 100px;
    height: 100px;
}

.divRight ul li a {
    text-decoration: none;
    color: #474747;
    padding: 0 15px;
    letter-spacing: 0.7px;
    font-weight: 300;
    font-size: 15px;
    opacity: 0.8;
}
.divRight ul li a sup{
    position: absolute;
    background: #e5f2fc;
    border-radius: 13px;
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 1px 11px;
    color: #474747;
    font-weight: bold;
    top: 6px;
    left: 1095px;;
}