.whatsapp-icon a{
    font-size: 2.6em;
    position: fixed;
    right: 3%;
    bottom: 15%;
    color: #4CAF50 !important;
}
.btn-send-msg{
    border-radius: 5px 5px 0px 0px;
    width: 200px;
    height: 40px;
    padding: 0px 15px;
    position: fixed;
    right: 1%;
    bottom: 0%;
    z-index: 1000;
    border: 0px;
    cursor: pointer;
    text-align: left;
    color: white;
    background-color: #f8423d;
    font-size: 1rem;
}